body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.showTitle {
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: #222c3c;
  margin-top: 20px;
  margin-bottom: 20px;
}

.showRecord {
  width: 13rem;
  display: flex;
  justify-content: space-between;
  margin-right: 34rem;
}
